name: "{{.TitleCaseName}}"
ref_type: "{{.LowerCaseName}}"
description: "This is the {{ .TitleCaseName }} integration for Pinpoint"
avatar_url: ""
capabilities:
{{- range $val := .Capabilities }}
  - {{ $val }}
{{- end}}
installation:
  modes:
    - cloud
    - selfmanaged
