name: "{{.TitleCaseName}}"
ref_type: "{{.LowerCaseName}}"
description: "This is the official {{ .TitleCaseName }} integration for Pinpoint"
publisher:
  name: "{{.PublisherName}}"
  url: "{{.PublisherURL}}"
  avatar_url: "{{.PublisherAvatar}}"
  identifier: "{{.Identifier}}"
capabilities:
{{- range $val := .Capabilities }}
  - {{ $val }}
{{- end}}
installation:
  modes:
    - cloud
    - selfmanaged
  config:
    cloud:
      network:
        hostnames:
          - "api.github.com"
      capabilities:
        - web.Hook
        - auth.OAuth2
      description: >
        <p>
          When you authorize Pinpoint to access your {{ .TitleCaseName }} account, you will grant <strong>Read and Write</strong> permissions to:
        </p>
        <ul>
            <li>Projects</li>
            <li>Users</li>
            <li>Groups</li>
            <li>Issues</li>
            <li>Boards</li>
          </ul>
        <p>
          You can revoke this access at any time by returning to the Settings and deleting this integration or by revoking it in your {{ .TitleCaseName }} administration.
        </p>
    selfmanaged:
      description: >
        <p>
          When you authorize Pinpoint to access your {{ .TitleCaseName }} account, you will grant <strong>Read and Write</strong> permissions to:
        </p>
        <ul>
            <li>Projects</li>
            <li>Users</li>
            <li>Groups</li>
            <li>Issues</li>
            <li>Boards</li>
          </ul>
        <p>
          You can revoke this access at any time by returning to the Settings and deleting this integration or by revoking it in your {{ .TitleCaseName }} Enterprise server administration.
        </p>
      options:
        - name: url
          description: Please provide the URL to your Enterprise {{ .TitleCaseName }} server
          type: string
          required: true
        - name: api_key
          description: Please provide the APIKey to your Enterprise {{ .TitleCaseName }} server
          type: string
          required: true
