name: "{{.TitleCaseName}}"
ref_type: "{{.LowerCaseName}}"
description: "This is the {{ .TitleCaseName }} integration for Pinpoint"
publisher:
  name: "{{.PublisherName}}"
  url: "{{.PublisherURL}}"
  avatar_url: "{{.PublisherAvatar}}"
  identifier: "{{.Identifier}}"
capabilities:
{{- range $val := .Capabilities }}
  - {{ $val }}
{{- end}}
installation:
  modes:
    - cloud
    - selfmanaged
  cloud:
    network:
      hostnames:
        - ""
    capabilities:
      - web.Hook
      - auth.OAuth2
