package main

import (
	"{{.Pkg}}/internal"
	"github.com/pinpt/agent.next/runner"
)

// Integration is used to export the integration
var Integration internal.{{.TitleCaseName}}Integration

func main() {
	runner.Main(&Integration)
}
